<!--<h1>
  {{title}}
</h1>-->

<div>
  <div class="header">
    <button type="button" (click)="deleteRecipients()">Delete</button> | <button type="button" (click)="doneTasks()">Done</button> | <button (click) ="showTextBox = true">Add task</button>
  </div>


  <h3>Tasks</h3>
  <hr>
  <br>
  <div class="txt-box" *ngIf="showTextBox">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" >
      <input type="text" ngModel name="name" value=""> <button type="submit">save</button> | <button (click) ="showTextBox = false">cancel</button>
    </form>
     {{f.value | json}}
    <hr>
    <br>
  </div>


  <div class="tasks">
      <div class="task-block" id="undone" *ngFor="let item of taskList" [class.done] ="isDone(item)">
      <label for=""><input type="checkbox" name="" (change)="checkbox(item)">|{{item.name}} |{{item.taken}} </label>
  </div>

  <!--<div class="tasks">
      <div class="task-block done" id="undone" >
      <label for=""><input type="checkbox" name="" >|do this </label>
  </div>-->
    {{taskList|json}}
  </div>
</div>